:root {
    --square-gaps: 6px;
}

#gameboard {
    display: flex;
    flex-direction: column;
    gap: var(--square-gaps);
    padding: 12px;
    margin-inline: auto;
    width: min(480px, 100%);
    aspect-ratio: 1 / 1;

    border-radius: 4px;
    background-color: rgb(184, 184, 184);
}

.gameboard-row {
    display: flex;
    flex: 1;
    gap: var(--square-gaps);
}

.gameboard-square {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;

    border-radius: 4px;
    background-color: white;

    user-select: none;
}
